@{
    ViewData["Title"] = "Sign In";
}
<h1>Sign In</h1>
<form action="gosignin" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit">Sign In</button><br>
</form>
<a href = "/register">Don't have an account? Click here to register</a>